html
	head
		title= person.nombre
	body
		a(href='/person') Regresar
		article 
			p Nick #{person.nick} 
			p Nombre: #{person.nombre} 
			p Apellidos: #{person.apellidos}
			p Rol: #{person.rol}
			p Password: #{person.password}
			p Correo: #{person.correo}
